<app-navigation></app-navigation>
<div class=" d-flex justify-content-center">
    <aside class="col-lg" style="margin: 5% 5% 5% 5%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Administración de Sucursales</h4>
                <hr>
                <div class="row">
                    <!-- table -->
                    <div class="col-md-4 table-responsive">
                        <div class="card" style="margin-bottom: 10px;">
                            <article class="card-body">
                                <div class="form">
                                    <form #form autocomplete="off">
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Código de la sucursal: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control"
                                                    placeholder="Código del Cine" [(ngModel)]="newlocation.codigosucursal"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Nombre del Cine: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control"
                                                    placeholder="Nombre del Cine" [(ngModel)]="newlocation.nombre"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Ubicación: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Ubicacion"
                                                    [(ngModel)]="newlocation.ubicacion" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Cantidad de Salas: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control"
                                                    placeholder="Cantidad de Salas"
                                                    [(ngModel)]="newlocation.cantidadsalas" required>
                                            </div>
                                        </div>

                                        <div class="col form-groupform-group">
                                            <button class="btn btn-primary btn-block" (click)="add()">Agregar</button>
                                        </div>

                                    </form>
                                </div>
                            </article>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <!-- Employee data -->
                        <div class="card">

                            <div class="card-body">
                                <div class="table-responsive">

                                    <div class=table-wrapper>
                                        <table class="table table-hover bike-table">
                                            <thead>
                                                <!-- Columnas para los datos mostrados de los locationes-->
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nombre del Cine</th>
                                                    <th>Ubicación</th>
                                                    <th>Cantidad de Salas</th>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let location of this.locations">
                                                    <!-- ngFor repite una sección del código HTML, por cada locatione hace una nueva fila en la tabla-->
                                                    <td>{{location.codigosucursal}}</td>
                                                    <!-- ngIF es una condicional para que se muestre una linea de HTML según una condición-->
                                                    <td *ngIf='editingID != location.codigosucursal'>{{location.nombre}}
                                                    </td>
                                                    <td *ngIf='editingID == location.codigosucursal'><input
                                                            value="{{selectedlocation.nombre}}"
                                                            [(ngModel)]="selectedlocation.nombre" class="form-control">
                                                    </td>

                                                    <td *ngIf='editingID != location.codigosucursal'>
                                                        {{location.ubicacion}}</td>
                                                    <td *ngIf='editingID == location.codigosucursal'><input
                                                            value="{{selectedlocation.ubicacion}}"
                                                            [(ngModel)]="selectedlocation.ubicacion"
                                                            class="form-control"></td>

                                                    <td *ngIf='editingID != location.codigosucursal'>
                                                        {{location.cantidadsalas}}</td>
                                                    <td *ngIf='editingID == location.codigosucursal'><input
                                                            value="{{selectedlocation.cantidadsalas}}"
                                                            [(ngModel)]="selectedlocation.cantidadsalas"
                                                            class="form-control"></td>

                                                    <th scope="row">
                                                        <button *ngIf='editingID != location.codigosucursal'
                                                            (click)="edit(location)" class="btn-icon" placement="top"
                                                            ngbTooltip="Editar">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </button>
                                                        <button *ngIf='editingID == location.codigosucursal'
                                                            (click)="submit()" class="btn-icon" placement="top"
                                                            ngbTooltip="Aceptar">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                    <th scope="row">
                                                        <button (click)="delete(location.codigosucursal)"
                                                            class="btn-icon" placement="top" ngbTooltip="Eliminar">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- card.// -->
                        <br />
                        <br />
                    </div>
                </div>
            </article>
        </div> <!-- card.// -->
    </aside> <!-- col.// -->
</div> <!-- row.// -->

<!--container end.//-->

