<app-navigation></app-navigation>
<div class=" d-flex justify-content-center">
    <aside class="col-lg" style="margin: 5% 5% 5% 5%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Mi cuenta</h4>
                <hr>
                <div class="row">
                    <div class="col-md-12">


                        <div class="d-flex">
                            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                                <li ngbNavItem="top">
                                    <a ngbNavLink>Selección de Película</a>
                                    <ng-template ngbNavContent>
                                        <div class=row>
                                            <div class="col-md-12">
                                                <article class="card-body">
                                                    <div class="form">
                                                        <form #form autocomplete="off">
                                                            <div class="form-row">
                                                                <div class="col form-group">
                                                                    <label>Seleccione la Sucursal </label>
                                                                </div>
                                                                <div class="col form-group">
                                                                    <div ngbDropdown class="d-inline-block">
                                                                        <button class="btn btn-outline-primary"
                                                                            id="dropdownBasic1"
                                                                            ngbDropdownToggle>{{selectedLocation}}</button>
                                                                        <div ngbDropdownMenu
                                                                            aria-labelledby="dropdownBasic1">
                                                                            <button *ngFor="let location of locations"
                                                                                ngbDropdownItem
                                                                                (click)="selectLocation(location.nombre, location.codigosucursal)">{{location.nombre}}</button>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col form-group">
                                                                    <label>Seleccione la Película </label>
                                                                </div>

                                                                <div class="col form-group">
                                                                    <label>{{selectedMovie}} </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col form-group"
                                                                    *ngFor="let movie of movies">
                                                                    <img src="{{movie.imagen}}" height="300px"
                                                                        (click)="selectMovie(movie.nombre, movie.peliid)">
                                                                </div>

                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col form-group">
                                                                    <label>Seleccione la tanda</label>
                                                                </div>
                                                                <div class="col form-group">
                                                                    <div ngbDropdown class="d-inline-block">
                                                                        <button class="btn btn-outline-primary"
                                                                            id="dropdownBasic1"
                                                                            ngbDropdownToggle>{{selectedProyeccion}}</button>
                                                                        <div ngbDropdownMenu
                                                                            aria-labelledby="dropdownBasic1">
                                                                            <button
                                                                                *ngFor="let proyeccion of proyecciones"
                                                                                ngbDropdownItem
                                                                                (click)="selectProyeccion(proyeccion.hora, proyeccion.funcionid)">{{proyeccion.hora}}</button>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <label>
                                                                En la siguiente pestaña seleccione los asientos
                                                            </label>
                                                        </form>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li ngbNavItem="middle">
                                    <a ngbNavLink>Selección de asientos</a>
                                    <ng-template ngbNavContent>
                                        <article class="card-body">
                                            <div class="form">
                                                <div class="row" *ngFor="let fila of rows; index as i;">
                                                    <div class="col" *ngFor="let column of columns; index as j;">
                                                        <img [id]="'loc' + j + i" class="seat" src="../assets/Img/asientoVerde.png"
                                                            (click)="selectSeat(i, j)">
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </ng-template>
                                </li>
                                <li ngbNavItem="n">
                                    <a ngbNavLink>Pago</a>
                                    <ng-template ngbNavContent>
                                        <article class="card-body">
                                            <div class="form">
                                                <form #form autocomplete="off">
                                                    <div class="form-row">
                                                        <div class="col form-group">
                                                            <label>Identificación: </label>
                                                        </div>
                                                        <div class="col form-group">
                                                            <input name="quantity" class="form-control" placeholder="Nombre" [(ngModel)]="newFactura.identificacion"
                                                                required>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col form-group">
                                                            <label>Nombre Completo: </label>
                                                        </div>
                                                        <div class="col form-group">
                                                            <input name="quantity" class="form-control" placeholder="Nombre" [(ngModel)]="newFactura.nombre"
                                                                required>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col form-group">
                                                            <label>Teléfono: </label>
                                                        </div>
                                                        <div class="col form-group">
                                                            <input name="quantity" class="form-control" placeholder="Nombre" [(ngModel)]="newFactura.telefono"
                                                                required>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col form-group">
                                                            <label>Correo: </label>
                                                        </div>
                                                        <div class="col form-group">
                                                            <input name="quantity" class="form-control" placeholder="Nombre" [(ngModel)]="newFactura.correoelectronico"
                                                                required>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col form-group">
                                                            <label>Provincia: </label>
                                                        </div>
                                                        <div class="col form-group">
                                                            <input name="quantity" class="form-control" placeholder="Nombre" [(ngModel)]="newFactura.provincia"
                                                                required>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col form-group">
                                                            <label>Distrito: </label>
                                                        </div>
                                                        <div class="col form-group">
                                                            <input name="quantity" class="form-control" placeholder="Nombre" [(ngModel)]="newFactura.distrito"
                                                                required>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col form-group">
                                                            <label>Cantón: </label>
                                                        </div>
                                                        <div class="col form-group">
                                                            <input name="quantity" class="form-control" placeholder="Nombre" [(ngModel)]="newFactura.canton"
                                                                required>
                                                        </div>
                                                    </div>



                                                    <div class="col form-groupform-group">
                                                        <button class="btn btn-primary btn-block" (click)="pay()">Comprar</button>
                                                    </div>
                                                    <a [href]="fileURL" download="factura.xml">DownloadFile</a>
                                                </form>
                                            </div>
                                        </article>
                                    </ng-template>
                                </li>
                            </ul>

                            <div [ngbNavOutlet]="nav" class="ml-4"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </aside>
</div>