<app-navigation></app-navigation>
<div class=" d-flex justify-content-center">
    <aside class="col-lg" style="margin: 5% 5% 5% 5%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Administración de Restricciones COVID</h4>
                <hr>
                <div class="row">
                    <!-- table -->
                    <div class="col-md-4 table-responsive"></div>
                    <div class="col-md-4 table-responsive">
                        <div class="card" style="margin-bottom: 10px;">
                            <article class="card-body">
                                <div class="form">
                                    <form #form autocomplete="off">
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Aforo máximo permitido: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Nombre" [(ngModel)]="aforo.porcentaje"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="col form-groupform-group">
                                            <button class="btn btn-primary btn-block" (click)="submit()">Actualizar</button>
                                        </div>

                                    </form>
                                </div>
                            </article>
                        </div>

                    </div>
                    <div class="col-md-4 table-responsive"></div>
                    
                </div>
            </article>
        </div> <!-- card.// -->
    </aside> <!-- col.// -->
</div> <!-- row.// -->

<!--container end.//-->