<app-navigation></app-navigation>
<div class=" d-flex justify-content-center">
    <aside class="col-lg" style="margin: 5% 5% 5% 5%;">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Administración de Salas</h4>
                <hr>
                <div class="row">
                    <!-- table -->
                    <div class="col-md-4 table-responsive">
                        <div class="card" style="margin-bottom: 10px;">
                            <article class="card-body">
                                <div class="form">
                                    <form #form autocomplete="off">
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Sucursal: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Sucursal" [(ngModel)]="newsala.codigosucursal"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>ID sala: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Sala" [(ngModel)]="newsala.salaid"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Cantidad de Columnas: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Cantidad de Columnas" [(ngModel)]="newsala.columna"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Cantidad de Filas: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Cantidad de Filas" [(ngModel)]="newsala.fila"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col form-group">
                                                <label>Capacidad: </label>
                                            </div>
                                            <div class="col form-group">
                                                <input name="quantity" class="form-control" placeholder="Capacidad" [(ngModel)]="newsala.capacidad"
                                                    required>
                                            </div>
                                        </div>
                                       


                                       
                                        <div class="col form-groupform-group">
                                            <button class="btn btn-primary btn-block" (click)="add()">Agregar</button>
                                        </div>

                                    </form>
                                </div>
                            </article>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <!-- Employee data -->
                        <div class="card">

                            <div class="card-body">
                                <div class="table-responsive">

                                    <div class=table-wrapper>
                                        <table class="table table-hover bike-table">
                                            <thead>
                                                <!-- Columnas para los datos mostrados de los salaes-->
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Sucursal</th>
                                                    <th>Cantidad de Columnas</th>
                                                    <th>Cantidad de Filas</th>
                                                    <th>Capacidad</th>
                                                    
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let sala of this.salas"> <!-- ngFor repite una sección del código HTML, por cada salae hace una nueva fila en la tabla-->
                                                    <td>{{sala.salaid}}</td>
                                                    <!-- ngIF es una condicional para que se muestre una linea de HTML según una condición-->
                                                    <td *ngIf='editingID != sala.salaid'>{{sala.codigosucursal}}</td>
                                                    <td *ngIf='editingID == sala.salaid'><input value="{{selectedsala.codigosucursal}}"
                                                        [(ngModel)]="selectedsala.codigosucursal" class="form-control"></td>

                                                    <td *ngIf='editingID != sala.salaid'>{{sala.fila}}</td>
                                                    <td *ngIf='editingID == sala.salaid'><input value="{{selectedsala.fila}}"
                                                        [(ngModel)]="selectedsala.fila" class="form-control"></td>
                                                        
                                                    <td *ngIf='editingID != sala.salaid'>{{sala.columna}}</td>
                                                    <td *ngIf='editingID == sala.salaid'><input value="{{selectedsala.columna}}"
                                                        [(ngModel)]="selectedsala.columna" class="form-control"></td>

                                                        <td *ngIf='editingID != sala.salaid'>{{sala.capacidad}}</td>
                                                        <td *ngIf='editingID == sala.salaid'><input value="{{selectedsala.capacidad}}"
                                                            [(ngModel)]="selectedsala.capacidad" class="form-control"></td>


                                                    <th scope="row">
                                                        <button *ngIf='editingID != sala.salaid' (click)="edit(sala)" class="btn-icon" placement="top"
                                                            ngbTooltip="Editar">
                                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                                        </button>
                                                        <button *ngIf='editingID == sala.salaid' (click)="submit()" class="btn-icon" placement="top"
                                                            ngbTooltip="Aceptar">
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                    <th scope="row">
                                                        <button (click)="delete(sala.salaid)" class="btn-icon" placement="top"
                                                            ngbTooltip="Eliminar">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- card.// -->
                        <br />
                        <br />
                    </div>
                </div>
            </article>
        </div> <!-- card.// -->
    </aside> <!-- col.// -->
</div> <!-- row.// -->

<!--container end.//-->


